.ProseMirror {
  @apply min-h-[200px] p-4;
}

.ProseMirror:focus {
  @apply outline-none;
}

.ProseMirror > * + * {
  @apply mt-4;
}

.ProseMirror ul,
.ProseMirror ol {
  @apply pl-4;
}

.ProseMirror ul {
  @apply list-disc;
}

.ProseMirror ol {
  @apply list-decimal;
}

.ProseMirror h1 {
  @apply text-4xl font-bold;
}

.ProseMirror h2 {
  @apply text-3xl font-bold;
}

.ProseMirror h3 {
  @apply text-2xl font-bold;
}

.ProseMirror h4 {
  @apply text-xl font-bold;
}

.ProseMirror blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}

.ProseMirror code {
  @apply bg-gray-100 rounded px-1;
}

.ProseMirror pre {
  @apply bg-gray-100 p-4 rounded;
}

.ProseMirror a {
  @apply text-blue-500 underline;
}

.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-gray-400;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
